
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.weather-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c1b9b9;
    box-shadow: 0 0 10px rgba(3, 3, 3, 0.1);
}

h1 {
    text-align: center;
}

input, button {
    font-weight: 500;
    margin: 10px 0;
    padding: 5px;
}

input{
    font-size: 1rem;
}

button:hover{
    font-size: 0.9rem;
    cursor: pointer;
}
#weatherInfo {
    margin-top: 20px;
}
